body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: white;
    height: 100vh;
    align-content: center;
    background: linear-gradient(45deg, rgb(185, 122, 72), rgb(171, 87, 8));
}

#mainContainer{
    width: 40%;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
    background: black;
    padding: 1% 0;

}

#inputContainer {
    border: rgb(255, 255, 255) solid 2px;
    width: 40%;
    justify-self: center;
    border-radius: 10px;
    color: white;
}

#copy {
    cursor: pointer;
}

#password {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;

}

#generate {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 10px;
    margin: 2% 0;
    border: grey solid 1px;
}

#generate:hover {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border-radius: 10px;
    margin: 2% 0;
    border: grey solid 1px;
    background-color: white;
}